<!DOCTYPE html>
<html>
<style type="text/css">
    .bold {
        font-weight: bold;
    }
</style>
<body>
<p>
    Thanks for paying your dues for the semester! We hope you continue to get the most out of your ACM membership as possible.
</p>
<p> 
    Here's a receipt:
</p>
<p style="font-family: 'Courier New', Courier, monospace">
    Paid by- ${firstName} ${lastName}<br>
    Payment amount- ${amountPaid}<br>
    Date paid- ${datePaid}<br>
    Payment type- ${paymentType}<br>
    Transaction #- ${purchaseID}<br>
</p>
<p>The UA ACM Exec Board</p>
</body>
</html>